* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --color-title: #313140;
    --color-title-sec: #F2264B;
    --grey: #B7B7C8;

    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;;
    width: 120rem;
    margin: 0 auto;
}
header .logo svg {
    width: 20rem;
}
#search {
    border: 0;
    border-bottom: 2px solid var(--color-title);
    color: var(--color-title);
    font-size: 1.6rem;
    padding: 0 1rem;
    height: 3.5rem;
}
#search:focus {
    outline: none;
}
.search button {
    background: none;
    border: 0;
    cursor: pointer;
    transition: all ease .2s;
}
.search button:hover {
    transform: scale(1.2);
}
#app {
    margin: 0 auto;
    width: 120rem;
}
.headline {
    margin: 2rem 0;
}
.headline p {
    color: var(--grey);
    font-size: 2rem;
}
.headline h1 {
    color: var(--color-title);
    font-size: 3.2rem;
    font-weight: 700;
}
.character-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    /* justify-content: space-between; */
}
.character {
    border-radius: 2.5rem;
    overflow: hidden;
    position: relative;
    width: 27rem;
    height: 45rem;

    box-shadow: 0rem -10rem 7rem -1rem black inset;
    transition: all .3s ease;
}
.character:hover {
    box-shadow: 0rem -13rem 7rem 0rem black inset;
}
.character:hover img {
    transform: rotate(-2deg) scale(1.1);
}
.character:hover .name {
    bottom: 2rem;
}
.character figure {
    display: flex;
    justify-content: center;
    align-items: start;
}
.character img {
    max-width: 100rem;
    transition: all .3s ease;
    z-index: -1;
}
.character .name {
    color: white;

    position: absolute;
    padding: 0 0 1rem 2rem;
    bottom: 1.5rem;
    left: 0;
    width: 100%;
    transition: all .3s ease;

}

.character p {
    font-weight: 100;
}
.character h3 {
    font-size: 2.5rem;
}
.load-more {
    display: block;
    margin: 3rem 0;
    text-align: center;
}
.load-more a {
    background-color: var(--color-title-sec);
    color: white;
    display: inline-block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all ease .4s;
}
.load-more a:hover {
    filter: brightness(80%)
}
.search-result {
    display: none;
    font-size: 2rem;
    margin: 2rem 0;
    text-align: center;
    text-transform: uppercase;
}
.search-result span {
    color: var(--color-title-sec);
}
.heroe-stats-container {
    background: rgba(0, 0, 0, .95);
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
}
.heroe-stats-container .container {
    background-color: ;
    color: white;
    display: flex;
    align-items: center;
    gap: 5rem;
    margin: 0 auto;
    width: 120rem;
    min-height: 100vh

}
.heroe-stats-container h2 {
    font-size: 3rem;
    text-transform: uppercase;
}
.heroe-stats-container .series p + p {
    margin-top: 2rem;
}
.heroe-stats-container h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.heroe-stats-container .description {
    color: rgba(250, 250, 250, .7);
    font-weight: 100;
    margin: 2rem 0;
}
.heroe-stats-container .container img {
    max-width: 46.4rem;
}
.heroe-stats-container .close svg {
    cursor: pointer;
    position: absolute;
    right: 5rem;
    top: 5rem;
    width: 5rem;
    color: white;
}
.heroe-stats-container .close svg path {
    fill: white;
}


footer {
    background-color: var(--color-title-sec);
    color: white;
    font-size: 1.2rem;
    margin-top: 5rem;
    padding: 2rem 0;
    text-transform: uppercase;
}
footer .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 120rem;
}
footer a {
    color: white;

}
footer .logo svg {
    width: 15rem;
}
footer .socials a {
    display: inline-block;
    text-decoration: none;
}
footer .socials a + a {
    margin-left: 2rem;
}
@media (max-width: 1200px) {
    #app,header, footer .content, .heroe-stats-container .container {
        width: 90%;
    }
}
@media (max-width: 1000px) {
    .heroe-stats-container .container img {
        max-width: 30rem;
    }
}
@media (max-width: 700px) {
    .heroe-stats-container .close svg {
        right: 1rem;
        top: 1rem;
        height: 3rem;
        width: 3rem;
    }
    .heroe-stats-container .container {
        display: block;
    }
    .heroe-stats-container .container img {
        display: block;
        margin: 5rem auto 5rem auto;
    }
}